body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    padding: 0;
    margin: 0;
}
.header-left-border{
    border-left: 5px solid;
    border-radius: 2px;
    border-color: purple;
    border-image: round;
}
body p{
    
    font-weight: 100;
    padding: 10px;
    font-style: normal;

}
.heading{
    font-size: 80px;
    padding-left: 10px;
}
.purple{
    color: rgb(189, 11, 189);
}
.button-style{
    padding: 12px;
    width: 172px;
    height: 48px;
    color: white;
    font-weight: 600;
    background-color: rgb(148, 14, 148);
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.top-section-parent{
    display: flex;
    padding-left: 90px;
    padding-top: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    padding-right: 5px;
    padding-left: 100px;
}

.second-section-parent{
    padding-left: 90px;
    padding-top: 100px;
}
.second-section-child{
    display: flex;
}
.title-1{
    font-size: 50px;
    text-align: center;
}
.mission{
    background-color: rgba(255, 225, 255, 0.89);
   
    
    margin-left: 156px;
    padding-right: 100px;
    padding-left: 10px;
    height: 376px;
    width: 1500px;
    border-radius: 30px;
}
.second-section-pic{
  height: 141px;
  width: 141px;
}
.vision{
    background-color: rgba(225, 255, 255, 0.89);
   
    margin-right: 24px;
    margin-left: 24px;
    padding-right: 100px;
    padding-left: 10px;
    height: 376px;
    width: 1500px;
    border-radius: 30px;
}
.goal{
    background-color: rgba(255, 250, 225, 0.89);
   
    margin-right: 156px;
    padding-right: 100px;
    padding-left: 10px;
    height: 376px;
    width: 1500px;
    border-radius: 30px;
}